* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
}

h1 {
    font-size: 2rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 100px auto 50px;
    gap: 0.5em;
}

/*
    #a4243b
    #d8c99b
    #d8973c
    #bd632f
    #273e47
*/


header {
    grid-row: 1;
    grid-column: 1 / span 3;
    text-align: center;
    background-color: #488286;
    border-radius: 5px;
    color: whitesmoke;
}

nav {
    grid-row: 2;
    grid-column: 1;
    background-color: #77878b;
    color: whitesmoke;
    border-radius: 5px;
}

main {
    grid-row: 2;
    grid-column: 2;
    font-size: 1.125em;
}

nav ul {
    padding-inline-start: 10px;
    font-size: 1.125em;
}

nav li {
    display: block;
}

a:link,
a:visited,
a:hover,
a:active {
    color: whitesmoke;
    text-decoration: none;
}

.newsEntry {
    background-color: #e3efee;
    border-radius: 5px;
    border: 1px solid #b7d5d4;
    margin-bottom: 50px;
}

.newsHeader {
    color: #111111;;
    background-color: #b7d5d4;
}

.adminNews {
    color: whitesmoke;
    background-color: #488286;
}

.newsEntryInfo {
    color: #666666;
    text-align: right;
    text-decoration-color: #273e47;
    text-decoration-line: overline;
}

.btnEdit {
    background-color: #84b7b5;
}

.btnDelete {
    background-color: #e37f7f;
}

button {
    background-color: #aaaaaa;
    border: 1px solid #ece4cd;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

form {
    margin: 30px 0;
}

.warning {
    color: red;
}

.hidden {
    visibility: hidden;
}

.notdisplayed {
    display: none;
}

.flexContainer {
    display: flex;
    align-items: stretch;
}

.flexContainer > div {
    margin: auto;
    text-align: center;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2em;
    color: white;
    margin-right: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 100px;
    padding: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 20px;
    top: 70px;
}

.dropdown-content a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
